@use 'base' as *;

// reusable selectors

.main-btn {
  height: 3rem;
  width: 20rem;
  font-family: $font-2;
  font-size: $fontsize-2;
  background-color: $color-pink;
  border: none;
  border-radius: 1rem;
  a {
    text-decoration: none;
    color: $color-white;
  }
  box-shadow: 0px 5px 5px 2px rgba(163, 118, 118, 0.3);
  @media (min-width: 501px) and (max-width: 768px) {
    font-size: $fontsize-2-3;
    width: 13rem;
  }
  @media (max-width: 500px) {
    font-size: $fontsize-3;
    width: 10rem;
  }

  &:hover {
    position: relative;
    box-shadow: none;
    top: 5px;
  }
}
